/node_modules
/out
/include
/packages/*/node_modules
/packages/*/out
/packages/*/out-test
/packages/*/dist
/packages/*/include
*.tsbuildinfo
.DS_Store
**/*/**.rbxl
*.rbxl.lock
/build
.studio.pid
.studio*.pid
.rovy
**/**/.rovy-build
**/**/sourcemap.json
/packages/scribe/test/studio/.build
/test/place/out
/test/place/include
/test/place/.build
/test/place/node_modules
/test/place/.build/*.rbxl
/test/place/.build/*.rbxlx
