/node_modules
/out
/include
/packages/*/node_modules
/packages/*/out
/packages/*/out-test
/packages/*/dist
/packages/*/include
*.tsbuildinfo
.DS_Store
**/*/**.rbxl
*.rbxl.lock
/examples/**/**/node_modules
/examples/**/**/out
/build
.studio.pid
.studio*.pid
.rovy
